<h1 style="border-bottom: 6px solid #fff;">Votre Difficulté </h1>

  <h4 style="color: black;"><b>Allez "{{userName}}" !</b></h4>


<div style="padding: 16px; margin: 10% 40%; ">
  <div class="card" id="difficulty" style="width: 20rem;">
     <h4>Choissiez votre difficulté</h4>

    <mat-radio-group aria-label="Select an option" [(ngModel)]="level" name="gender" (ngModelChange)="setLevel($event)">
      <mat-radio-button value="{{l.id}}" style="margin-left: 10px;" *ngFor="let l of levels">{{l.difficulty}}</mat-radio-button> <br>
    </mat-radio-group>

     <br>
      <button type="button" class="btn btn-primary" [disabled]="idLevel === undefined" style="background: #62b2fd ; margin-top: 15px;" [routerLink]="['/theme/quizz/', idLevel]">Demarrez le quizz</button>

  </div>
</div>
