<div id="add">
    <div class="card">
      <h2 style="color: black;">Créer un Quiz</h2>
      <br>
      <form (ngSubmit)="addTheme()">
        <div class="form-group row">

          <div class="col-sm-9">
            <input type="text" name="name" [(ngModel)]="theme.name" class="form-control" id="name" placeholder="Donner le nom du quiz">
          </div>
        </div>
<br>
<br>
        <div class="btnContent" style="display: grid;">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
   </div>
 </div>
