<div class="container">
    <div class="card bg-weight">
        <div class="card-body">
        <img src="/assets/winshot.jpg" class="rounded float-start" style="width:100px">
        </div>
        <h2 class="card-title text-center text-dark py-3">{{title}}</h2>
        <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
                <a routerLink="/add" class="btn btn-outline-info">Ajouter Utilisateur</a>
            </li>
            <li class="list-inline-item">
                <a routerLink="/list" class="btn btn-outline-info">Lister Utilisateur</a>
            </li>
           
        </ul>
    </div>

</div>
