<html>
    <head>
        <link rel="stylesheet" href="resetpassword.component.css">
    </head>
<body >
<!-- resetpassword.component.html -->

<div class="bg">
    <div class="formulaire">
      <div class="imageform">
        <img src="logo.png" alt="Logo">
      </div>
      <!-- Use Angular reactive forms -->
      <form class="f" (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm" >
        <input type="password" class="zoneinput" placeholder="Créer Un nouveau Mot De Passe" name="newPassword" [(ngModel)]="newPassword" required>
        <input type="password" class="zoneinput" placeholder="Confirmer votre mot de passe" name="confirmPassword" [(ngModel)]="confirmPassword" required><br><br>
        <button type="submit" class="submitboutton">Confirmer</button><br>
        Vous avez un compte? <a routerLink="/authentification">Se Connecter!</a>
      </form>
    </div>
  </div>
  
</body>
</html>