<html>
    <head>
        <link rel="stylesheet" href="forgetpassword.component.css">
    </head>
<body >
    
  <div class="bg">
    <div class="formulaire">
      <div class="imageform">
        <img src="logo.png" alt="Logo">
      </div>
      <!-- Use Angular ngForm directive to handle the form -->

      <form class="f" #forgetPasswordForm="ngForm" (ngSubmit)="onSubmit(forgetPasswordForm)">
        <input type="email" class="zoneinput" placeholder="Email" name="email" ngModel required>
        <button type="submit" class="submitboutton">Send</button><br>
      </form>
    </div>
  </div>
  
</body>
</html>